<div class="container my-5 ">
    <div class="px-4 py-5 text-center">
        <h1 class="display-5 fw-bold">MEAN Stack Auth App</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-md px-4 gap-3" [routerLink]="['/login']" >Login</button>
            <button type="button" class="btn btn-outline-secondary btn-md px-4" [routerLink]="['/register']" >Register</button>
          </div>
        </div>
      </div>
    
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-dark rounded-3">
            <h2 class="text-white">NodeJS Express Backend</h2>
            <p class="text-white">
                Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser.
                Express.js, or simply Express, is a back end web application framework for Node.js, released as free and open-source software under the MIT License.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Angular Framework Frontend</h2>
            <p>Angular is a TypeScript-based free and open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
          </div>
        </div>
      </div>
</div>